
.carbody {
  margin-top: 200px;
  display: flex;
  position: relative
}

.hasigo {
  display: flex;
  position:  relative;
}


.box1 {
  width: 1000px;
  height: 500px;
  background-color: red;
}

.box2 {
  width: 200px;
  height: 250px;
  background-color: #CCFFFF;
  position: absolute;
  top: 50px;
  left: 30px;
}

.box3 {
  width: 100px;
  height: 250px;
  background-color: #CCFFFF;
  position: absolute;
  top: 50px;
  left: 260px;
}


.box4 {
  width: 200px;
  height: 200px;
  background-color: black;
  position: absolute;
  top: 350px;
  left: 30px
}

.box5 {
  width: 200px;
  height: 200px;
  background-color: black;
  position: absolute;
  top: 350px;
  left: 530px;
}

.box6 {
  width: 1000px;
  height: 100px;
  background-color: #CCFFFF;
  top: -90px;
  position: absolute;
  transform: rotate(5deg);
}